@inherits LayoutComponentBase

<PageTitle>PortTime</PageTitle>

<div class="page">


    <main>

        <article class="content px-4">
            @Body
            <Syncfusion.Blazor.Popups.SfDialogProvider />
        </article>
    </main>
</div>
